.title{
    font-size: 80px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.description,.qoute{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
button{
    font-family: Arial;
    font-size: 13px;
}

button:hover{
    background-color: green !important;
}